/* CONTACT START */

.centerdiv img {
    margin: auto;
    display: block;
    padding: 20px 0 20px 20px;
}

.red-box {
    background-color: #430010;
    border-color: #d6254f;
    border-width: 5px;
    border-radius: 5px;
    border-style: solid;

    margin-top: 10px;
}

.red-box p,
.red-box a {
    margin: 0px;
    line-height: 60px;
    font-size: 1em;
    padding-left: 5px;
    color: #FFFFFF;
    padding-right: 60px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.red-box a:link,
.red-box a:visited,
.red-box a:active {
	text-decoration: none;
}
.red-box a:hover {
	text-decoration: underline;
}

.linkedin,
.linkedin:hover {
    background: url(../images/contact/linkedin-lo.png) 95% 50% no-repeat;
}
.email,
.email:hover {
    background: url(../images/contact/email-lo.png) 95% 50% no-repeat;
}
.facebook,
.facebook:hover {
    background: url(../images/contact/facebook-lo.png) 95% 50% no-repeat;
}


/* Larger than phablet */
@media (min-width: 550px) {
    .red-box p,
    .red-box a {
        font-size: 1.1em;
    }
}

@media (min-width: 700px) {
    .red-box p,
    .red-box a {
        font-size: 1.4em;
    }
}


/* CONTACT END */
