
/* General
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
	overflow-y: scroll;
}
body {
	background-color: #dadada;
	margin: 0px;
	font-weight: 400;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}


h1 {
	color: #3D3D3D;
	border-bottom: 1px solid #3D3D3D
}
h2 {
	color: #696969
}
p {
	line-height: 150%
}
ul {
    list-style-image: url(../images/small_rightarrow.png);
    margin: 0px;
}
.content {
	background-color: #FFFFFF;
	padding: 10px 5px;
}
.hidden {
	display: none
}
.clear {
	clear: both
}
.line-through {
	text-decoration: line-through
}

code {
	font-family: Consolas, Monaco, Menlo, Courier, Verdana, sans-serif;
	overflow: auto;
	clear: both;
	word-wrap: normal;
	padding: 21px;
	border-left: 5px solid green;
	box-sizing: border-box;
	background-color: #000;
	color: #fff;
	padding-left: 21px;
	display: block;
	word-wrap: break-word;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* icons on menu */
.about {
	background-image: url(../images/menu/about_white.png);
	background-repeat: no-repeat;
	background-position: 30px 50%;
}
.skills {
	background-image: url(../images/menu/skills_white.png);
	background-repeat: no-repeat;
	background-position: 30px 50%;
}
.projects {
	background-image: url(../images/menu/projects_white.png);
	background-repeat: no-repeat;
	background-position: 30px 50%;
}
.resume {
	background-image: url(../images/menu/resume_white.png);
	background-repeat: no-repeat;
	background-position: 30px 50%;
}
.contact {
	background-image: url(../images/menu/contact_white.png);
	background-repeat: no-repeat;
	background-position: 30px 50%;
}


/* black icons on hover */
.about.currenttab
/* .about:hover */ {
	background-image: url(../images/menu/about_black.png);
	background-repeat: no-repeat;
	background-position: 30px 50%;
}
.skills.currenttab
/* .skills:hover */ {
	background-image: url(../images/menu/skills_black.png);
	background-repeat: no-repeat;
	background-position: 30px 50%;
}
.projects.currenttab
/* .projects:hover */ {
	background-image: url(../images/menu/projects_black.png);
	background-repeat: no-repeat;
	background-position: 30px 50%;
}
.resume.currenttab
/* .resume:hover */ {
	background-image: url(../images/menu/resume_black.png);
	background-repeat: no-repeat;
	background-position: 30px 50%;
}
.contact.currenttab
/* .contact:hover */ {
	background-image: url(../images/menu/contact_black.png);
	background-repeat: no-repeat;
	background-position: 30px 50%;
}



/* Back to top
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.back-to-top:link,
.back-to-top:visited,
.back-to-top:active {
	position: fixed;
	bottom: 2.5em;
	right: 0px;
	text-decoration: none;
	color: #FFF;
	font-size: 1em;
	padding: 1.5em 1em 0.25em;
	display: none;
	background-color:rgba(0,0,0,0.8);
	background-image: url(../images/arrow-up.png);
	background-repeat: no-repeat;
	background-position: 50% 5px;
}

footer {
	background-color: #333333;
}

.date-modified {
	padding: 10px;
	color: #FFFFFF;
	font-weight: 700;
}

.red-panel {
	margin-top:5px;
	border-color: #430010;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
}

.red-panel-title {
	background-color: #430010;
	line-height: 1;
	color: #FFFFFF;
	padding: 15px;
}

.red-panel-body {
	color: #000000;
	padding: 15px;
}
.red-panel a:link,
.red-panel a:visited,
.red-panel a:active {
    color: #000000;
    text-decoration: underline;
}
.red-panel a:hover {
	text-decoration: none;
}
.red-panel ul {
    list-style-image: url(../images/small_rightarrow.png);
    margin: 0px;
}

.menu-fill {
	height: 0px;
}
