
/* General
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
	overflow-y: scroll;
}
body {
	background-color: #dadada;
	background: #dadada url(../images/stripe.png) repeat;
	margin: 0px;
	font-weight: 400;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}


h1 {
	color: #3D3D3D;
	border-bottom: 1px solid #3D3D3D
}
h2 {
	color: #696969
}
p {
	line-height: 150%
}
ul {
	list-style-image: url(../images/small_rightarrow.png);
	margin: 0px;
}
.content {
	background-color: #FFFFFF;
	padding: 10px 5px;
}
.hidden {
	display: none
}
.clear {
	clear: both
}
.line-through {
	text-decoration: line-through
}

code {
	font-family: Consolas, Monaco, Menlo, Courier, Verdana, sans-serif;
	overflow: auto;
	clear: both;
	word-wrap: normal;
	padding: 21px;
	border-left: 5px solid green;
	box-sizing: border-box;
	background-color: #000;
	color: #fff;
	padding-left: 21px;
	display: block;
	word-wrap: break-word;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-title {
	display: none;
}

header a:link,
header a:visited,
header a:active {
	text-decoration: none;
	color: #FFF
}

header {
	color: #FFFFFF;
	text-align: center;
	width: 100%;
	z-index: 1;
}

header {
	border-bottom: solid 2px #000;
	border-top: solid 5px #D6254F;
	position: fixed;
	top: 0;
	width: 100%;
}

nav.container {
	margin: 0px;
	padding: 0px;
}

nav ul {
	display: none;
	list-style: none;
	padding: 0px;
}

nav a {
	width: 100%;
	float: none;
	line-height: 40px;
	display: block;
	background-color:rgba(0,0,0,0.8);
}

nav a:hover {
	background-color: #FFF;
	color: #000000;
}

nav ul a.currenttab {
	background-color: #FFF;
	color: #000000;
	cursor: default;
}

.menu-label {
	background-color: #000000;
	margin: 0px;
	line-height: 50px;
	background-image: url(../images/menu/mobile-menu-clear-lo.png), url(../images/menu/uarr.png);
	background-repeat: no-repeat, no-repeat;
	background-position: 95% 50%, 5% 50%;
	background-color: #000;
	display: block;
	font-weight: 900;
	font-size: 1.250em;
	color: #FFF;
	text-align: center;
}

.menu-check:checked+.menu-label {
	background-image: url(../images/menu/mobile-menu-clear-lo.png), url(../images/menu/darr.png);
	background-repeat: no-repeat, no-repeat;
	background-position: 95% 50%, 5% 50%;
}

.menu-check:checked ~ ul {
	display: block;
}

input[type="checkbox"].menu-check {
	display:none;
}

.menu-fill {
	height: 60px;
	width: 100%;
}


/* icons on menu */
.about {
	background-image: url(../images/menu/about_white.png);
	background-repeat: no-repeat;
	background-position: 30px 50%;
}
.skills {
	background-image: url(../images/menu/skills_white.png);
	background-repeat: no-repeat;
	background-position: 30px 50%;
}
.projects {
	background-image: url(../images/menu/projects_white.png);
	background-repeat: no-repeat;
	background-position: 30px 50%;
}
.resume {
	background-image: url(../images/menu/resume_white.png);
	background-repeat: no-repeat;
	background-position: 30px 50%;
}
.contact {
	background-image: url(../images/menu/contact_white.png);
	background-repeat: no-repeat;
	background-position: 30px 50%;
}


/* black icons on hover */
.about.currenttab,
.about:hover {
	background-image: url(../images/menu/about_black.png);
	background-repeat: no-repeat;
	background-position: 30px 50%;
}
.skills.currenttab,
.skills:hover {
	background-image: url(../images/menu/skills_black.png);
	background-repeat: no-repeat;
	background-position: 30px 50%;
}
.projects.currenttab,
.projects:hover {
	background-image: url(../images/menu/projects_black.png);
	background-repeat: no-repeat;
	background-position: 30px 50%;
}
.resume.currenttab,
.resume:hover {
	background-image: url(../images/menu/resume_black.png);
	background-repeat: no-repeat;
	background-position: 30px 50%;
}
.contact.currenttab,
.contact:hover {
	background-image: url(../images/menu/contact_black.png);
	background-repeat: no-repeat;
	background-position: 30px 50%;
}



/* Back to top
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.back-to-top:link,
.back-to-top:visited,
.back-to-top:active {
	position: fixed;
	bottom: 3.5em;
	right: 0px;
	text-decoration: none;
	color: #FFF;
	font-size: 1em;
	padding: 1.5em 1em 0.25em;
	display: none;
	background-color:rgba(0,0,0,0.8);
	background-image: url(../images/arrow-up.png);
	background-repeat: no-repeat;
	background-position: 50% 5px;
}

footer {
	background-color: #333333;
}

.date-modified {
	padding: 10px;
	color: #FFFFFF;
	font-weight: 700;
}

.red-panel {
	margin-top:5px;
	border-color: #430010;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
}

.red-panel-title {
	background-color: #430010;
	line-height: 1;
	color: #FFFFFF;
	padding: 15px;
}

.red-panel-body {
	color: #000000;
	padding: 15px;
}
.red-panel a:link,
.red-panel a:visited,
.red-panel a:active {
	color: #000000;
	text-decoration: underline;
}
.red-panel a:hover {
	text-decoration: none;
}
.red-panel ul {
	list-style-image: url(../images/small_rightarrow.png);
	margin: 0px;
}
.red-panel p {
	margin: 1rem 0rem;
}





.red-collapse {
	margin-top:5px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
}
.red-collapse-title {
	background-color: #430010;
	line-height: 2em;
	padding: 0px 15px;
	color: #FFFFFF;
	cursor: pointer;
}
.red-collapse a:link,
.red-collapse a:visited,
.red-collapse a:active {
	color: #000000;
	text-decoration: underline;
}
.red-collapse input {
	display: none;
}

.red-collapse-title::before {
	content: "\25BA\00A0";
}
.red-collapse input:checked ~.red-collapse-title::before {
	content: "\25BC\00A0";
}
.red-collapse-body {
	color: #000000;
	height: 0px;
	overflow: hidden;
	-webkit-transition: height 0.3s ease-in-out;
	-moz-transition: height 0.3s ease-in-out;
	-o-transition: height 0.3s ease-in-out;
	-ms-transition: height 0.3s ease-in-out;
	transition: height 0.3s ease-in-out;
}
.red-collapse input:checked ~.red-collapse-body {
	height: 75px;
	-webkit-transition: height 0.3s ease-in-out;
	-moz-transition: height 0.3s ease-in-out;
	-o-transition: height 0.3s ease-in-out;
	-ms-transition: height 0.3s ease-in-out;
	transition: height 0.3s ease-in-out;
}
span.progress {
	font-size: 2em;
	float: right;
	display: inline-block;
}

/* from bootstrap */
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #d6254f;
    border-radius: 10px;
}
