
/* General
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
	overflow-y: scroll;
}
body {
	background-color: #dadada;
	margin: 0px;
	font-weight: 400;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}


h1 {
	color: #3D3D3D;
	border-bottom: 1px solid #3D3D3D
}
h2 {
	color: #696969
}
p {
	line-height: 150%
}
.content {
	background-color: #FFFFFF;
	padding: 10px 20px;
}
.hidden {
	display: none
}
.clear {
	clear: both
}
.line-through {
	text-decoration: line-through
}

code {
	font-family: Consolas, Monaco, Menlo, Courier, Verdana, sans-serif;
	overflow: auto;
	clear: both;
	word-wrap: normal;
	padding: 21px;
	border-left: 5px solid green;
	box-sizing: border-box;
	background-color: #000;
	color: #fff;
	padding-left: 21px;
	display: block;
	word-wrap: break-word;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-title {
	font-size: 3.125em;
	line-height: 100px;
	-webkit-box-shadow: inset 0px 136px 189px -140px rgba(255,255,255,0.25);
	-moz-box-shadow: inset 0px 136px 189px -140px rgba(255,255,255,0.25);
	box-shadow: inset 0px 136px 189px -140px rgba(255,255,255,0.25);
}

header {
	background-color: #430010;
	color: #FFFFFF;
	position: relative;
	z-index: 1;
}

.page-inner {
	background-image: url(../images/raspi-md.jpg);
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-size: 1.25em;
}

nav a {
	color: #FFFFFF;
	width: 25%;
	font-weight: bold;
	float: left;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
	border-width: 5px;
	border-color: #000000;
	border-bottom-style: solid;
	border-top-style: solid;
}

nav a:hover {
	background-color: #151414;
	color: #000000;
	border-width: 5px;
	border-bottom-color: #d6254f;
	border-top-color: #151414;
	border-bottom-style: solid;
	border-top-style: solid;

	transition: border-bottom-color .15s ease-in-out;
    -webkit-transition: border-bottom-color .15s ease-in-out;
    -moz-transition: border-bottom-color .15s ease-in-out;
}

nav ul a.currenttab {
	background-color: #FFF;
	color: #000000;
	cursor: default;

	border-width: 5px;
	border-color: #FFFFFF;
	border-bottom-style: solid;
	border-top-style: solid;

	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

header a:link,
header a:visited,
header a:active {
	text-decoration: none;
	color: #FFF
}

.nav-wrapper {
    background-color: #000;
    z-index: 5;
}



/* Back to top
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.back-to-top:link,
.back-to-top:visited,
.back-to-top:active {
	position: fixed;
	bottom: 2.5em;
	right: 0px;
	text-decoration: none;
	color: #FFF;
	font-size: 1em;
	padding: 1.5em 1em 0.25em;
	display: none;
	background-color:rgba(0,0,0,0.8);
	background-image: url(../images/arrow-up.png);
	background-repeat: no-repeat;
	background-position: 50% 5px;
}

footer {
	background-color: #333333;
}

.modified {
	padding: 10px 0px;
	color: #FFFFFF;
	font-weight: 700;
}

.red-panel {
	margin-top:5px;
	border-color: #430010;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
}

.red-panel-title {
	background-color: #430010;
	line-height: 1;
	color: #FFFFFF;
	padding: 15px;
}

.red-panel-body {
	color: #000000;
	padding: 15px;
}

/*
//




.redbox {
	color: #FFF;
	background-color: #430010;
	margin-top: 40px;
	font-size: 1.25em;
	font-weight: 800;
	border: 3px solid #D6254F;
	line-height: 1.5em;
	text-decoration: none;
	box-sizing: border-box;
}
.redbox:hover {
	text-decoration: underline;
}
.redbox a {
	color: #FFF;
	text-decoration: none;
}
.redbox a:hover {
	text-decoration: underline;
}

footer {
	background-color: #C1AF8E;
}
.badge {
	border-radius: 5px;
	background: #D6254F;
	padding: 3px;
	text-align: center;
	box-shadow: 10px 10px 25px -5px rgba(0,0,0,0.75);
}



*/

