@media only screen and (max-width: 600px) {
    #main {
        background-color: #FFF;
        margin: 0px auto;
        width: 100%;
        min-width: 262px
    }
    header {
        background-image: none;
        word-break: normal;
        margin: auto;
        text-align: center;
        font-size: 1.750em;
        background-image: linear-gradient(#430010 40%, #693340)
    }
    #content {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        padding: 10px;
    }
    h1 {
        word-break: normal
    }
    .menulabel {
        display: block
    }
    .menucheck:checked~ul {
        display: inline
    }
    .menucheck+.menulabel {
        background-image: url(../images/mobile-menu-clear-lo.png), url(../images/uarr.png);
        background-repeat: no-repeat, no-repeat;
        background-position: 95% 50%, 5% 50%;
        background-color: #000;
        display: block;
        padding: 10px;
        font-weight: 900;
        font-size: 1.250em;
        color: #FFF;
        text-align: center
    }
    .menucheck:checked+.menulabel {
        background-image: url(../images/mobile-menu-clear-lo.png), url(../images/darr.png);
        background-repeat: no-repeat, no-repeat;
        background-position: 95% 50%, 5% 50%
    }
    nav {
        z-index: 99;
        border-bottom: solid 2px #000
    }
    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
        font-size: 1.250em;
        display: none
    }
    nav ul li {
        background-color: #000;
        float: none;
        width: 100%
    }
    nav ul li a {
        text-decoration: none;
        display: block;
        width: 100%;
        position: relative;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #FFF
    }
    nav ul li.currenttab {
        background-color: #FFF;
        color: #000;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none
    }
    nav ul li:hover a {
        background-color: #D5D5D5;
        cursor: pointer
    }
    .centerdiv {
        width: 200px;
        margin: auto
    }
}
