@media only screen and (max-width: 600px) {
    body {
        background-color: #C1AF8E;
        margin: 0px;
    }
    #main {
        background-color: #FFF;
        margin: 0px;
        width: 100%;
        min-width: 0px
    }
    header {
        display: none;
    }
    #content {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        padding: 10px;
    }
    h1 {
        word-break: normal
    }
    /* MENU START */
    .menucheck+.menulabel {
        background-image: url(../images/menu/mobile-menu-clear-lo.png), url(../images/menu/uarr.png);
        background-repeat: no-repeat, no-repeat;
        background-position: 95% 50%, 5% 50%;
        background-color: #000;
        display: block;
        padding: 10px;
        font-weight: 900;
        font-size: 1.250em;
        color: #FFF;
        text-align: center
    }
    .menucheck:checked+.menulabel {
        background-image: url(../images/menu/mobile-menu-clear-lo.png), url(../images/menu/darr.png);
        background-repeat: no-repeat, no-repeat;
        background-position: 95% 50%, 5% 50%
    }
    .menucheck:checked ~ #navlist {
        display: block;
    }
    #menu {
        z-index: 99;
        border-bottom: solid 2px #000;
        border-top: solid 5px #D6254F;
        position: fixed;
        width: 100%;
    }
    #menu ul {
        display: none;
    }
    #menu a {
        width: 100%;
        float: none;
        line-height: 40px;
        display: block;
        background-color:rgba(0,0,0,0.8);
    }
    #menu a:hover {
        background-color: #FFF;
        color: #000000;
    }
    #menu ul a.currenttab {
        background-color: #FFF;
        color: #000000;
        cursor: default;
    }
    .about {
        background-image: url(../images/menu/about_white.png);
        background-repeat: no-repeat;
        background-position: 30px 50%;
    }
    .skills {
        background-image: url(../images/menu/skills_white.png);
        background-repeat: no-repeat;
        background-position: 30px 50%;
    }
    .projects {
        background-image: url(../images/menu/projects_white.png);
        background-repeat: no-repeat;
        background-position: 30px 50%;
    }
    .resume {
        background-image: url(../images/menu/resume_white.png);
        background-repeat: no-repeat;
        background-position: 30px 50%;
    }
    .contact {
        background-image: url(../images/menu/contact_white.png);
        background-repeat: no-repeat;
        background-position: 30px 50%;
    }
    /* for currenttab */
    .about.currenttab,
    .about:hover {
        background-image: url(../images/menu/about_black.png);
        background-repeat: no-repeat;
        background-position: 30px 50%;
    }
    .skills.currenttab,
    .skills:hover {
        background-image: url(../images/menu/skills_black.png);
        background-repeat: no-repeat;
        background-position: 30px 50%;
    }
    .projects.currenttab,
    .projects:hover {
        background-image: url(../images/menu/projects_black.png);
        background-repeat: no-repeat;
        background-position: 30px 50%;
    }
    .resume.currenttab,
    .resume:hover {
        background-image: url(../images/menu/resume_black.png);
        background-repeat: no-repeat;
        background-position: 30px 50%;
    }
    .contact.currenttab,
    .contact:hover{
        background-image: url(../images/menu/contact_black.png);
        background-repeat: no-repeat;
        background-position: 30px 50%;
    }
    #fill {
        height: 40px;
        width: 100%;
    }
/* MENU END */
}
