
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {


    /* General
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

    .content {
        padding: 10px 20px;
    }

    /* Header
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
    .page-title {
        font-size: 3.125em;
        line-height: 100px;
        -webkit-box-shadow: inset 0px 136px 189px -140px rgba(255,255,255,0.25);
        -moz-box-shadow: inset 0px 136px 189px -140px rgba(255,255,255,0.25);
        box-shadow: inset 0px 136px 189px -140px rgba(255,255,255,0.25);
    }

    header {
        background-color: #430010;
        color: #FFFFFF;
        position: relative;
        z-index: 1;
    }

    .page-inner {
        background-image: url(../images/raspi-md.jpg);
        background-repeat: no-repeat;
        background-position: 100% 50%;
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
        font-size: 1.25em;
    }

    nav a {
        color: #FFFFFF;
        width: 25%;
        font-weight: bold;
        float: left;
        text-decoration: none;
        text-align: center;
        line-height: 40px;
        border-width: 5px;
        border-color: #000000;
        border-bottom-style: solid;
        border-top-style: solid;
    }

    nav a:hover {
        background-color: #151414;
        color: #000000;
        border-width: 5px;
        border-bottom-color: #d6254f;
        border-top-color: #151414;
        border-bottom-style: solid;
        border-top-style: solid;

        transition: border-bottom-color .15s ease-in-out;
        -webkit-transition: border-bottom-color .15s ease-in-out;
        -moz-transition: border-bottom-color .15s ease-in-out;
    }

    nav ul a.currenttab {
        background-color: #FFF;
        color: #000000;
        cursor: default;

        border-width: 5px;
        border-color: #FFFFFF;
        border-bottom-style: solid;
        border-top-style: solid;

        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    header a:link,
    header a:visited,
    header a:active {
        text-decoration: none;
        color: #FFF
    }

    .nav-wrapper {
        background-color: #000;
        z-index: 5;
    }


	input[type="checkbox"].menu-check,
	.menu-label {
		display: none;
	}

    .date-modified {
        padding: 10px 0px;
    }


}

/* Larger than tablet (also point when grid becomes active) */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


/*
@media only screen and (max-width: 600px) {
    body {
        background-color: #C1AF8E;
        margin: 0px;
    }
    #main {
        background-color: #FFF;
        margin: 0px;
        width: 100%;
        min-width: 0px
    }
    header {
        display: none;
    }
    #content {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        padding: 10px;
    }
    h1 {
        word-break: normal
    }


    .menucheck+.menulabel {
        background-image: url(../images/menu/mobile-menu-clear-lo.png), url(../images/menu/uarr.png);
        background-repeat: no-repeat, no-repeat;
        background-position: 95% 50%, 5% 50%;
        background-color: #000;
        display: block;
        padding: 10px;
        font-weight: 900;
        font-size: 1.250em;
        color: #FFF;
        text-align: center
    }
    .menucheck:checked+.menulabel {
        background-image: url(../images/menu/mobile-menu-clear-lo.png), url(../images/menu/darr.png);
        background-repeat: no-repeat, no-repeat;
        background-position: 95% 50%, 5% 50%
    }
    .menucheck:checked ~ #navlist {
        display: block;
    }
    navu {
        z-index: 99;
        border-bottom: solid 2px #000;
        border-top: solid 5px #D6254F;
        position: fixed;
        width: 100%;
    }
    navu ul {
        display: none;
    }
    navu a {
        width: 100%;
        float: none;
        line-height: 40px;
        display: block;
        background-color:rgba(0,0,0,0.8);
    }
    navu a:hover {
        background-color: #FFF;
        color: #000000;
    }
    navu ul a.currenttab {
        background-color: #FFF;
        color: #000000;
        cursor: default;
    }



    #fill {
        height: 40px;
        width: 100%;
    }


}
*/
