/* PROJECT START */

.project img {
	width: 100%;
}

.project h2 {
	min-height: 72px;
}
.project {
	border-style: solid;
	border-width: 5px;
	border-color: black;
	padding: 10px;
	margin-bottom: 10px;

}

.proj-button,
.project {
	height: 100%;
}

.proj-button .button {
	width: 100%;
}


/* Larger than phablet */
@media (min-width: 550px) {

	.project {
		margin-left: 1%;
	}

	.four.columns {
		width: 32.5%;
	}
	.proj-desc {
		min-height: 150px;
	}
}
/* PROJECT END */
